body{
    margin: 0;
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: .09em;

    cursor: url("../cursor/BibataBlack/Arrow.cur"), auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

*{
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

ui, li{
    display: block;
    padding: 0;
    margin: 0;
}

a, a:hover, a:active {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

.pointer{
    cursor: url("../cursor/BibataBlack/Hand.cur"), pointer;
}

.background_1{
    position: static;
    height: 98vh;
    background: url("../image/background_2.png") no-repeat center / cover;
    z-index: 1;
}

.d-flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.aline-items-center{
    align-items: center;
}

.toner{
    display: block;
    position: absolute;
    height: 98vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: .3;

    z-index: 3;
}

/* Header */
header{
    background-color: rgb(0,0,0,.5);

    z-index: 1000;
    width: 100%;
    height: 55px;
    position: fixed;
}

.menu_item{
    margin-right: 40px;
}

.padding{
    border-bottom: 2px inset gray;
    border-width: 0;

    transition: .2s;
}

.padding:hover{
    border-width: unset;
}


.header_logo{
    position: absolute;
    margin: auto;
    margin-left: 20px;
    margin-top: -0.5vh;
}

.header_logo_img{
    width: 20px;
}

.header_span{
    padding-left: 10px;
}

.menu{
    margin-left: auto;
    margin-right: auto;
}

/* main */
.main_content{
    justify-content: center;
    flex-direction: row;

    padding: 20px;
    border-radius: 15px;

    position: absolute;
    margin-top: 30vh;
    margin-left: 10vh;

    color: white;

    text-transform: none;

    width: 80vh;

    background-color: rgb(0,0,0,.7);

    z-index: 10;
}

.main_title{
    position: relative;

    font-size: 30px;
    font-weight: 700;
}

.main_description{
    position: relative;

    padding-top: 30px;
    padding-bottom: 40px;

    font-size: 20px;
}

.main__{
    flex-direction: row;
    justify-content: center;
}

.main_image{
    position: absolute;
    border-radius: 30vh;

    right: -100vh;
    top: -7.5vh;

    width: 60%;

    transition: .3s;
}

.main_image:hover{
    top: -9.5vh;
    right: -102vh;

    width: 65%;

    box-shadow: 0 0 50px rgb(0,0,0,.7);
}

.main_button{
    font-size: 25px;
    text-transform: uppercase;
    background-color: royalblue;
    
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;

    transition: .2s;
}

.main_button:hover{
    box-shadow: 0 0 20px rgba(6%,29%,66%,.9);
}

/* content */
.content{
    flex-direction: row;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;
}

.information_block{
    width: 95%;

    margin-top: -5%;

    background-color: #282828;

    padding: 60px;
    border-radius: 50px;

    z-index: 5;
}

/* content (add) */
.capabilities{
    text-align: center;
    align-items: center;
}

.description{
    text-align: center;
    text-transform: none;
    width: 40%;

    margin: auto;
    margin-bottom: 30px;
}

.title{
    margin: 20px auto;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.items{
    margin: 30px auto;

    display: block;
    width: 90%;
}

.item{
    display: inline-block;
}

.item_width{
    width: 30%;
}

.item_flex{
    margin: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item_image {
    height: 70px;
    width: 70px;
    margin: auto;
    margin-bottom: 30px;
}

.item_title{
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 15px;
}

.item_description{
    font-size: 15px;
    text-transform: none;
}

/* commands */
.commands{
    text-align: center;
    align-items: center;

    margin: 50px auto;
}

.help_buttom{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    background-color: blueviolet;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 10px;
    margin-top: 40px;
}

.help_buttom:hover{
    color: gray;

    -webkit-box-shadow:0 0 10px blueviolet;
    box-shadow: 0 0 10px blueviolet;
}

/* footer */
.footer{
    flex-direction: row;
}

.footer_{
    margin-right: 60px;

    flex-direction: column;
}

.footer_menu{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    position: relative;

    margin: 50px auto;
    width: 80%;
}

.footer_item{
    padding-bottom: 10px;

    display: inline-block;

    transition: .2s;
}

.footer_button{
    color: gray;

    transition: .2s;
}

.footer_button:hover{
    color: white;
}

.footer_meta{
    color: gray;
    width: 80vh;
    text-align: right;
}


/* MEDIA WIDTH */
@media screen and (max-width: 1900px){/*
    .distance_from_logo{
        margin-right: 25%;
    }*/

    .item_width{
        width: 30%;
    }
}

@media screen and (max-width: 1600px){/*
    .distance_from_logo{
        margin-right: 20%;
    }*/

    .item_width{
        width: 30%;
    }
}

@media screen and (max-width: 1200px){/*
    .distance_from_logo{
        margin-right: 15%;
    }*/

    .item_width{
        width: 30%;
    }
}

@media screen and (max-width: 1000px){/*
    .distance_from_logo{
        margin-right: 10%;
    }*/

    .item_width{
        width: 40%;
    }
}

@media screen and (max-width: 800px){/*
    .distance_from_logo{
        margin-right: 20px;
    }*/

    .item_width{
        width: 40%;
    }
}

@media screen and (max-width: 690px){
    .item_width{
        width: 50%;
    }
}

@media screen and (max-width: 520px){
    .main_image{
        display: none;
    }

    .main_content{
        margin: 60% auto;

        font-size: 20px;

        width: 100%;

    }

    .menu{
        display: none;
    }

    .title{
        font-size: 20px;
    }

    .footer_menu{
        font-size: 10px;

        flex-direction: column;
    }

    .footer_meta{
        width: 100%;
    }

    .information_block{
        padding: 10px;
    }

    .item_width{
        width: 100%;
    }

    .description{
        width: 100%;
    }

    .main_____{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main_button{
        text-align: center;
    }

    header{
        display: none;
    }
}